.card {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fafbfc;
  text-align: center;
  border-style: groove;
  border-radius: 8px;
}

.card-header {
  text-align: left;
  justify-content: left;
  font-size: 16px;
  color: white;
  padding: 15px 30px 15px 30px
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/*
=============================
card-aside 
=============================
*/
.card-aside {
  width: 30%;
  justify-content: center;
  padding: 1.5%;
  background-color: #f4f4f3;
}

.allocation-aside-donut {
  background-color : white;
  margin-left: auto;
  margin-right: auto;
}

.allocation-aside-call {
  padding: 50px;
}

.allocation-aside-call .material-icons {
  color: #7aa4d5;
  font-size: 55px;
}

.allocation-aside ul li {
  margin: 5px 0px 5px 0px;
  background-color: white;
  border: 1pm solid #f4f4f3;
  padding: 10px 5px 10px 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.allocation-aside ul li div:last-child {
  margin-left: auto;
  font-weight: 700;
}

.allocation-aside button {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 13px 80px 13px 80px;
  font-size:14px;
}



/*==================================
card-main 
===================================*/
.allocation-main {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 70%;
  text-align: center;
  padding: 1.5%; 
}

/*---top: choice toggle---*/
.allocation-choice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  padding: 15px;
  background-color: #e3e3e1;
  border-radius: 2px;
}

.allocation-choice-item {
  font-size: 12px;
}

.allocation-choice-item label {
  font-size: 12px;
  font-weight: 700;
}

.switch-button {
  background-color: white;
  padding: 3px;
  font-size: 20px;
  color: #2c2c2c;
  margin-top: 10px;
}
.button-active {
  padding: 8px 30px 8px 30px;
  color: white;
  border-radius: 5px;
}

.button-inactive {
  border: none;
  padding: 8px 30px 8px 30px;
}


/*---------middle: table----------*/
.allocation-table  {
  width: 100%;
  font-size: 16px;
  margin: 10px 0px 10px 0px; 
  background-color: #eeeeeb;
}

.allocation-table thead th {
 
  height: 40px;
  padding-left: 20px;
}

.allocation-table thead th:first-child {
  text-align: left;
}

.allocation-table tbody td {
  background-color: white;
  height: 50px;
  padding-left: 20px;
}

.allocation-table td:first-child {
  width: 40%;
  text-align: left;
}

.allocation-table td:last-child {
  width: 60%;
  text-align: center;
}
.allocation-table td:last-child span {
  padding: 10px 5px 10px 5px;
}

.allocation-table td:last-child input {
  padding: 10px;
  width: 20%;
  text-align: right;
  margin: 5px 5px 5px 20px;
  font-size: 16px;
  font-weight: 500;
}


/*--------bottom summary ---------*/
.allocation-summary {
  margin-bottom: 20px;
  display: flex;
  background-color: #f2f2eb;
  font-size: 16px;
  padding: 14px;
  border-radius: 4px;

  margin-top:auto;
}

.allocation-summary label{
  padding: 10px 40px 10px 40px;
}

.allocation-summary-total{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-weight: 600;
  width:50%;
}

.allocation-summary-sum {
  padding: 10px 40px 10px 40px;
  background-color: white
}

.allocation-summary-control {
  display: flex;
  flex-direction: row-reverse;
  width: 50%; 
}

.allocation-summary-control button{
  padding: 10px 50px 10px 50px;
  font-size: 14px;
}

.allocation-summary-control label {
  text-decoration: underline;
}

/*
*==================================
Can be Shared by projrct-wide base
===================================
*/
.round-button {
  border-radius: 25px;
  color: white;
}

.inactive {
  opacity: 0.4;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green
}


